---
import Layout from '../layouts/Layout.astro';

const social = [
	{
		name: 'GitHub',
		url: 'https://github.com/michahl',
	},
	{
		name: 'BlueSky',
		url: 'https://bsky.app/profile/michahl.com',
	},
	{
		name: 'Twitter',
		url: 'https://twitter.com/cht5m',
	}
]

const email = 'cmichahl@gmail.com'

const projects = [
	{
		name: 'nodal',
		url: 'https://nodal.michahl.com',
		description: 'turn your questions into ai-generated graphs',
		details: 'Visualize questions as expandable knowledge graphs using Sonar, with summaries, explanations, reasoning, and source links in each node.',
	},
]

const blog = [
	{
		title: 'Blog',
		url: '/blog',
		description: 'A collection of articles on various topics. I write about software development, AI, and more.',
		tags: ['blog', 'articles', 'writing'],
	},
	{
		title: 'AI',
		url: '/blog/ai',
		description: 'Articles related to AI, including tutorials, insights, and discussions on the latest trends.',
		tags: ['ai', 'artificial intelligence', 'machine learning'],
	},
	{
		title: 'Software Development',
		url: '/blog/software-development',
		description: 'Posts about software development practices, tools, and technologies.',
		tags: ['software development', 'programming', 'coding'],
	},
	{
		title: 'Web Development',
		url: '/blog/web-development',
		description: 'Articles focused on web development, including frameworks, libraries, and best practices.',
		tags: ['web development', 'frontend', 'backend'],
	},
	{
		title: 'Tech',
		url: '/blog/tech',
		description: 'General technology articles covering a wide range of topics.',
		tags: ['technology', 'tech', 'innovation'],
	},
	{
		title: 'Personal',
		url: '/blog/personal',
		description: 'Personal reflections and experiences shared through blog posts.',
		tags: ['personal', 'reflections', 'experiences'],
	}

]
---

<Layout>
	<div class="text-[0.85rem] leading-6 max-w-2xl">

		<section>
			<p>Michail Christoforatos</p>
			<p>Software Developer</p>
			<p>Athens, Greece</p>
		</section>

		<section class="mt-10 md:mt-14 flex flex-col gap-1 md:flex-row md:gap-10">
			<span class="text-neutral-400 min-w-14">About</span>
			<div class="leading-5">
				<p>Contact me via <a href={`mailto:${email}`} class="underline underline-offset-2 decoration-dotted">email</a></p>
				<div class="space-x-2">
					{
						social.map((item, i) => (
							<span class="inline">
								<a href={item.url} target="_blank" class="underline underline-offset-2 decoration-dotted">{item.name}</a>
								{ social.length - 1 !== i && ', ' }
							</span>
						))
					}
				</div>
			</div>

		</section>

		<section class="mt-10 md:mt-14 flex flex-col gap-1 md:flex-row md:gap-10">
			<span class="text-neutral-400 min-w-14">Projects</span>
			<div>
				{
					projects.map((project) => (
						<div class="mb-2">
							<div class="flex items-center gap-3">
								<a href={project.url} target="_blank" class="underline underline-offset-2 decoration-dotted">
									{project.name}
								</a>
								<p class="text-neutral-400">{project.description}</p>
							</div>
							<p class="mt-2 leading-5 border-l px-2.5 border-neutral-200 text-neutral-400 italic">
								{project.details}
							</p>
						</div>
					)).slice(0, 3)
				}
				{ projects.length > 3 && (
					<p class="text-neutral-400 text-[0.8rem]">
						<a href="/projects" class="underline underline-offset-2 decoration-dotted">View</a> more projects.
					</p>
				)}
			</div>
		</section>

		<section class="mt-10 md:mt-14 flex flex-col gap-1 md:flex-row md:gap-10">
			<span class="text-neutral-400 min-w-14">Blog</span>
			<div>
				{
					blog.map((post) => (
						<div class="mb-4">
							<div class="flex items-center gap-3">
								<a href={post.url} class="underline underline-offset-2 decoration-dotted">{post.title}</a>
								
							</div>
							<p class="text-neutral-400">{post.description}</p>
						</div>
					)).slice(0, 5)
				}
				{ blog.length > 5 && (
					<p class="text-neutral-400 text-[0.8rem]">
						<a href="/blog" class="underline underline-offset-2 decoration-dotted">Read</a> more stuff I wrote.
					</p>
				)}
			</div>
		</section>
	</div>
</Layout>